# macOS system files
.DS_Store

# IDE and editor files
*.swp
*.swo
.vscode/
*.bak

# Temporary files
*.tmp

# Node modules and logs
node_modules/
npm-debug.log*

# Python server cache
__pycache__/
*.pyc